body{
    font-family: 'Raleway', sans-serif;
}
.main{
    display: grid;
    grid-template-columns: 15% 85%;
}
.title{
    text-align: center;
    color: rgb(23, 14, 98);
    text-transform: uppercase;
    font-size: 2.4rem;
}
